<a href="https://colab.research.google.com/github/dcallirgos/UTE_Fundamentos_de_Programacion/blob/main/Proyecto_Final_Grupo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accediendo a los datos

In [6]:
import pandas as pd
data_2022_1 = pd.read_excel('/content/drive/MyDrive/UTEC/Data 2022-1.xlsx')
data_2022_1.head(10)

,@,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,Práctica C,NaN,NaN,NaN,Práctica D,NaN,NaN,NaN,Examen,NaN,Examen 3,Nota
7,NaN,NaN,NaN,1,2,3,4,1,2,3,4,1,2,1,NaN
8,NaN,NaN,NaN,1,10,7,9,16,12,14,12,7,12,F,10
9,NaN,NaN,NaN,12,7,6,13,15,13,8,14,7,7,F,9

In [7]:
data_2022_1.shape

(58, 15)

In [8]:
# Limpieza de Filas y Columnas

#data_2022_1 = data_2022_1.dropna() dropna te borra todos los datos de una fila o columna que contengan al menos un valor vacío
#data_2022_1.shape

In [9]:
# Limpieza de las primeras 7 filas vacías
data_2022_1 = data_2022_1.drop(data_2022_1.index[:7])

In [10]:
data_2022_1

,@,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
7,NaN,NaN,NaN,1,2,3,4,1,2,3,4,1,2,1,NaN
8,NaN,NaN,NaN,1,10,7,9,16,12,14,12,7,12,F,10
9,NaN,NaN,NaN,12,7,6,13,15,13,8,14,7,7,F,9
10,NaN,NaN,NaN,F,10,9,20,18,15,17,18,13,4,F,11
11,NaN,NaN,NaN,12,7,F,F,17,11,12,8,5,F,F,5
12,NaN,NaN,NaN,19,16,18,20,18,17,18,20,19,18,F,19
13,NaN,NaN,NaN,11,8,8,15,15,14,13,16,8,2,F,8
14,NaN,NaN,NaN,11,14,10,17,16,16,14,15,10,13,F,13
15,NaN,NaN,NaN,12,15,13,19,14,10,14,17,15,10,F,14
16,NaN,NaN,NaN,13,14,10,19,18,17,16,16,14,10,F,14
17,NaN,NaN,NaN,10,5,11,17,14,12,15,13,8,13,F,12
18,NaN,NaN,NaN,10,5,F,17,16,6,12,16,9,3,F,8
19,NaN,NaN,NaN,13,12,F,19,16,9,6,19,10,9,F,12
20,NaN,NaN,NaN,3,13,F,8,13,14,9,7,7,N,F,6
21,NaN,NaN,NaN,15,16,9,16,15,16,14,18,15,9,F,14
22,NaN,NaN,NaN,16,11,15,20,18,18,17,18,13,10,F,14
23,NaN,NaN,NaN,7,8,F,7,14,11,10,6,8,9,F,9
24,NaN,NaN,NaN,9,9,F,F,12,10,7,6,5,F,F,4
25,NaN,NaN,NaN,F,4,7,F,16,6,2,F,7,F,F,4
26,NaN,NaN,NaN,11,10,5,11,16,12,16,14,10,6,F,10
27,NaN,NaN,NaN,7,7,4,2,12,8,9,11,8,4,F,7
28,NaN,NaN,NaN,9,12,1,15,15,15,15,13,16,11,F,13
29,NaN,NaN,NaN,7,2,F,F,14,10,5,F,3,F,F,3
30,NaN,NaN,NaN,9,9,10,15,14,11,11,15,10,10,F,11
31,NaN,NaN,NaN,16,11,9,13,13,6,7,15,F,9,11,11
32,NaN,NaN,NaN,6,8,1,10,16,14,10,11,3,1,F,5
33,NaN,NaN,NaN,8,15,6,F,13,14,11,15,14,14,F,13
34,NaN,NaN,NaN,6,8,F,20,14,13,15,15,12,10,F,12
35,NaN,NaN,NaN,14,14,4,10,16,16,11,15,14,9,F,12
36,NaN,NaN,NaN,F,6,F,F,10,4,1,F,5,F,F,3
37,NaN,NaN,NaN,17,16,13,19,17,17,17,18,16,12,F,15
38,NaN,NaN,NaN,18,16,12,20,17,15,16,17,14,10,F,14
39,NaN,NaN,NaN,6,7,12,17,14,13,14,14,F,16,F,10
40,NaN,NaN,NaN,6,11,6,15,17,8,9,8,F,9,9,10
41,NaN,NaN,NaN,10,16,F,17,15,12,9,12,11,8,F,11
42,NaN,NaN,NaN,15,19,10,19,19,18,14,19,17,12,F,16
43,NaN,NaN,NaN,F,17,10,20,18,12,15,14,17,13,F,15
44,NaN,NaN,NaN,18,20,10,17,18,14,18,18,19,20,F,19
45,NaN,NaN,NaN,8,13,F,15,12,16,12,16,9,7,F,10
46,NaN,NaN,NaN,15,16,13,19,17,15,16,18,15,15,F,16
47,NaN,NaN,NaN,F,14,9,16,15,14,12,18,10,10,F,12
48,NaN,NaN,NaN,15,16,13,19,18,11,17,15,17,16,F,17
49,NaN,NaN,NaN,9,10,12,16,16,12,14,16,9,7,F,10
50,NaN,NaN,NaN,F,9,10,17,14,15,16,14,6,15,F,12
51,NaN,NaN,NaN,9,14,10,20,14,14,17,16,13,10,F,13
52,NaN,NaN,NaN,7,18,15,20,15,13,15,13,10,5,F,11
53,NaN,NaN,NaN,F,F,F,F,9,F,F,F,F,F,F,Retirado
54,NaN,NaN,NaN,15,18,12,18,16,12,11,12,15,10,F,14
55,NaN,NaN,NaN,9,8,F,2,10,9,8,8,10,8,F,8
56,NaN,NaN,NaN,12,15,11,16,15,12,15,18,13,7,F,12
57,NaN,NaN,NaN,12,9,8,20,17,12,6,7,9,9,F,11

In [11]:
# Limpieza de las columnas vacías

data_2022_1 = data_2022_1.drop(data_2022_1.columns[:3], axis = 1)

In [12]:
data_2022_1.shape

(51, 12)

In [13]:
# Renombrando las columnas

nombre_columnas = ['Practica C1', 'Practica C2', 'Practica C3', 'Practica C4', 'Practica D1', 'Practica D2', 'Practica D3', 'Practica D4', 'Examen 1', 'Examen 2', 'Examen 3', 'Promedio']
len(nombre_columnas)

12

In [14]:
data_2022_1.columns = nombre_columnas

In [15]:
data_2022_1.columns

Index(['Practica C1', 'Practica C2', 'Practica C3', 'Practica C4',
       'Practica D1', 'Practica D2', 'Practica D3', 'Practica D4', 'Examen 1',
       'Examen 2', 'Examen 3', 'Promedio'],
      dtype='object')

In [16]:
data_2022_1.reset_index(drop=True, inplace=True)

In [17]:
data_2022_1.head()

,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio
0,1,2,3,4,1,2,3,4,1,2,1,NaN
1,1,10,7,9,16,12,14,12,7,12,F,10
2,12,7,6,13,15,13,8,14,7,7,F,9
3,F,10,9,20,18,15,17,18,13,4,F,11
4,12,7,F,F,17,11,12,8,5,F,F,5

In [18]:
data_2022_1.drop(data_2022_1.index[:1], inplace=True)

In [19]:
data_2022_1.head()

,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio
1,1,10,7,9,16,12,14,12,7,12,F,10
2,12,7,6,13,15,13,8,14,7,7,F,9
3,F,10,9,20,18,15,17,18,13,4,F,11
4,12,7,F,F,17,11,12,8,5,F,F,5
5,19,16,18,20,18,17,18,20,19,18,F,19

In [20]:
# Agregando una columna al inicio del dataset (simulado)

# Se puede usar for pero consume mayor cantida de recursos; una mejor alternativa es list(range(a, b))
# id =[]
# for i in range(1,51):
#  id.append(i)

id = list(range(1, 51))

In [21]:
data_2022_1.insert(0,'Id', id)

In [22]:
data_2022_1.head()

,Id,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio
1,1,1,10,7,9,16,12,14,12,7,12,F,10
2,2,12,7,6,13,15,13,8,14,7,7,F,9
3,3,F,10,9,20,18,15,17,18,13,4,F,11
4,4,12,7,F,F,17,11,12,8,5,F,F,5
5,5,19,16,18,20,18,17,18,20,19,18,F,19

In [23]:
data_2022_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           50 non-null     int64
 1   Practica C1  50 non-null     object
 2   Practica C2  50 non-null     object
 3   Practica C3  50 non-null     object
 4   Practica C4  50 non-null     object
 5   Practica D1  50 non-null     object
 6   Practica D2  50 non-null     object
 7   Practica D3  50 non-null     object
 8   Practica D4  50 non-null     object
 9   Examen 1     50 non-null     object
 10  Examen 2     50 non-null     object
 11  Examen 3     50 non-null     object
 12  Promedio     50 non-null     object
dtypes: int64(1), object(12)
memory usage: 5.2+ KB

In [24]:
# Revisamos los valores que contiene las columnas
data_2022_1['Practica C1'].value_counts()

F     7
9     6
15    5
12    5
7     4
6     4
11    3
10    3
8     2
18    2
16    2
13    2
3     1
19    1
14    1
17    1
1     1
Name: Practica C1, dtype: int64

In [25]:
# Reemplazando las F por 0 (F = Falta. 0 = Nota 0)
data_2022_1['Practica C1'].replace('F', 0)

1      1
2     12
3      0
4     12
5     19
6     11
7     11
8     12
9     13
10    10
11    10
12    13
13     3
14    15
15    16
16     7
17     9
18     0
19    11
20     7
21     9
22     7
23     9
24    16
25     6
26     8
27     6
28    14
29     0
30    17
31    18
32     6
33     6
34    10
35    15
36     0
37    18
38     8
39    15
40     0
41    15
42     9
43     0
44     9
45     7
46     0
47    15
48     9
49    12
50    12
Name: Practica C1, dtype: int64

In [26]:
data_2022_1[data_2022_1.columns[1:9]].replace('F', 0)

,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4
1,1,10,7,9,16,12,14,12
2,12,7,6,13,15,13,8,14
3,0,10,9,20,18,15,17,18
4,12,7,0,0,17,11,12,8
5,19,16,18,20,18,17,18,20
6,11,8,8,15,15,14,13,16
7,11,14,10,17,16,16,14,15
8,12,15,13,19,14,10,14,17
9,13,14,10,19,18,17,16,16
10,10,5,11,17,14,12,15,13
11,10,5,0,17,16,6,12,16
12,13,12,0,19,16,9,6,19
13,3,13,0,8,13,14,9,7
14,15,16,9,16,15,16,14,18
15,16,11,15,20,18,18,17,18
16,7,8,0,7,14,11,10,6
17,9,9,0,0,12,10,7,6
18,0,4,7,0,16,6,2,0
19,11,10,5,11,16,12,16,14
20,7,7,4,2,12,8,9,11
21,9,12,1,15,15,15,15,13
22,7,2,0,0,14,10,5,0
23,9,9,10,15,14,11,11,15
24,16,11,9,13,13,6,7,15
25,6,8,1,10,16,14,10,11
26,8,15,6,0,13,14,11,15
27,6,8,0,20,14,13,15,15
28,14,14,4,10,16,16,11,15
29,0,6,0,0,10,4,1,0
30,17,16,13,19,17,17,17,18
31,18,16,12,20,17,15,16,17
32,6,7,12,17,14,13,14,14
33,6,11,6,15,17,8,9,8
34,10,16,0,17,15,12,9,12
35,15,19,10,19,19,18,14,19
36,0,17,10,20,18,12,15,14
37,18,20,10,17,18,14,18,18
38,8,13,0,15,12,16,12,16
39,15,16,13,19,17,15,16,18
40,0,14,9,16,15,14,12,18
41,15,16,13,19,18,11,17,15
42,9,10,12,16,16,12,14,16
43,0,9,10,17,14,15,16,14
44,9,14,10,20,14,14,17,16
45,7,18,15,20,15,13,15,13
46,0,0,0,0,9,0,0,0
47,15,18,12,18,16,12,11,12
48,9,8,0,2,10,9,8,8
49,12,15,11,16,15,12,15,18
50,12,9,8,20,17,12,6,7

In [27]:
data_2022_1['Examen 2'].value_counts()

10    9
9     7
F     6
7     4
12    3
13    3
4     2
15    2
8     2
16    2
1     1
20    1
14    1
N     1
11    1
6     1
3     1
2     1
18    1
5     1
Name: Examen 2, dtype: int64

In [28]:
# iloc sirve para especificar la aplicación de un cambio en un lugar específico
# En este caso se está reemplazando las F por 0 sólo en las columnas de la 1 a la 9 y en todas las filas
# y Está sobre escribiendo el resultado en la variable data_2022_1

data_2022_1.iloc[:, 1:9] = data_2022_1.iloc[:, 1:9].replace('F', 0)

<ipython-input-28-7765172a16fd>:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data_2022_1.iloc[:, 1:9] = data_2022_1.iloc[:, 1:9].replace('F', 0)

In [30]:
data_2022_1.describe()

,Id,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000,50.000000
mean,25.50000,9.360000,11.360000,6.980000,13.480000,15.140000,12.280000,12.000,13.080000
std,14.57738,5.412608,4.579279,5.246923,6.996326,2.240718,3.686932,4.463,5.290886
min,1.00000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000,0.000000
25%,13.25000,6.250000,8.000000,0.250000,10.000000,14.000000,11.000000,9.000,11.250000
50%,25.50000,9.500000,11.000000,8.500000,16.000000,15.000000,12.500000,13.500,15.000000
75%,37.75000,13.000000,15.000000,10.750000,19.000000,17.000000,15.000000,15.000,16.750000
max,50.00000,19.000000,20.000000,18.000000,20.000000,19.000000,18.000000,18.000,20.000000

In [51]:
# Calculando el promedio de las Practicas C y agregandolo a nueva columna
practica_c = ['Practica C1',	'Practica C2',	'Practica C3',	'Practica C4']

def prom_pc(row):
    return (sum(row) - min(row)) / (len(row) - 1)

data_2022_1['prom_pc'] = data_2022_1[practica_c].apply(prom_pc, axis=1)

In [55]:
# Calculando el promedio de las Practicas D y agregandolo a nueva columna
practica_d = ['Practica D1',	'Practica D2',	'Practica D3',	'Practica D4']

def prom_pd(row):
    return (sum(row) - min(row)) / (len(row) - 1)

data_2022_1['prom_pd'] = data_2022_1[practica_d].apply(prom_pd, axis=1)

In [56]:
data_2022_1.head()

,Id,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio,avg_no_min,prom_pc,prom_pd
1,1,1,10,7,9,16,12,14,12,7,12,F,10,8.666667,8.666667,14.000000
2,2,12,7,6,13,15,13,8,14,7,7,F,9,10.666667,10.666667,14.000000
3,3,0,10,9,20,18,15,17,18,13,4,F,11,13.000000,13.000000,17.666667
4,4,12,7,0,0,17,11,12,8,5,F,F,5,6.333333,6.333333,13.333333
5,5,19,16,18,20,18,17,18,20,19,18,F,19,19.000000,19.000000,18.666667

In [66]:
# Cambiando el Valor de Examen 3
# Si es F ==> 0
# Si es <> F == > Queda con su valor

examen = ['Examen 1',	'Examen 2',	'Examen 3']

data_2022_1['Examen 3'].replace('F', 0, inplace = True)
data_2022_1['Examen 2'].replace('N', 0, inplace = True)

In [ ]:
data_2022_1['Examen 2'].value_counts()

In [60]:
data_2022_1.head()

,Id,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio,avg_no_min,prom_pc,prom_pd
1,1,1,10,7,9,16,12,14,12,7,12,0,10,8.666667,8.666667,14.000000
2,2,12,7,6,13,15,13,8,14,7,7,0,9,10.666667,10.666667,14.000000
3,3,0,10,9,20,18,15,17,18,13,4,0,11,13.000000,13.000000,17.666667
4,4,12,7,0,0,17,11,12,8,5,F,0,5,6.333333,6.333333,13.333333
5,5,19,16,18,20,18,17,18,20,19,18,0,19,19.000000,19.000000,18.666667

In [72]:
# Calculando el promedio de los Examenes y agregandolo a nueva columna

examen = ['Examen 1',	'Examen 2',	'Examen 3']

def prom_ex(row):
  examen1 = row['Examen 1']
  examen2 = row['Examen 2']
  examen3 = row['Examen 3']
  if (examen1 == 'F' and examen2 == 'F'):
    return 0
  elif examen1 == 'F':
    return (examen2 + examen3) / 2
  elif examen2 == 'F':
    return (examen1 + examen3) / 2
  else:
    return (examen1 + examen2) / 2

data_2022_1['prom_ex'] = data_2022_1.apply(prom_ex, axis = 1)

In [75]:
def prom_final(row):
  prom_pc = row['prom_pc']
  prom_pd = row['prom_pd']
  prom_ex = row['prom_ex']
  return round(prom_pc*0.25 + prom_pd*0.15 + prom_ex*0.6)

data_2022_1['prom_final'] = data_2022_1.apply(prom_final, axis = 1)

In [76]:
data_2022_1.head()

,Id,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio,avg_no_min,prom_pc,prom_pd,prom_ex,prom_final
1,1,1,10,7,9,16,12,14,12,7,12,0,10,8.666667,8.666667,14.000000,9.5,10
2,2,12,7,6,13,15,13,8,14,7,7,0,9,10.666667,10.666667,14.000000,7.0,9
3,3,0,10,9,20,18,15,17,18,13,4,0,11,13.000000,13.000000,17.666667,8.5,11
4,4,12,7,0,0,17,11,12,8,5,F,0,5,6.333333,6.333333,13.333333,2.5,5
5,5,19,16,18,20,18,17,18,20,19,18,0,19,19.000000,19.000000,18.666667,18.5,19