<a href="https://colab.research.google.com/github/dcallirgos/UTE_Fundamentos_de_Programacion/blob/main/Proyecto_Final_Grupo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accediendo a los datos

In [6]:
import pandas as pd
data_2022_1 = pd.read_excel('/content/drive/MyDrive/UTEC/Data 2022-1.xls')
data_2022_1.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,Práctica C,NaN,NaN,NaN,Práctica D,NaN,NaN,NaN,Examen,NaN,Examen 3,Nota
7,NaN,NaN,NaN,1,2,3,4,1,2,3,4,1,2,1,NaN
8,NaN,NaN,NaN,1,10,7,9,16,12,14,12,7,12,F,10
9,NaN,NaN,NaN,12,7,6,13,15,13,8,14,7,7,F,9

In [7]:
data_2022_1.shape

(58, 15)

In [4]:
# Limpieza de Filas y Columnas

#data_2022_1 = data_2022_1.dropna() dropna te borra todos los datos de una fila o columna que contengan al menos un valor vacío
#data_2022_1.shape

(0, 15)

In [12]:
# Limpieza de las primeras 7 filas vacías
data_2022_1 = data_2022_1.drop(data_2022_1.index[:7])

In [13]:
data_2022_1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
7,NaN,NaN,NaN,1,2,3,4,1,2,3,4,1,2,1,NaN
8,NaN,NaN,NaN,1,10,7,9,16,12,14,12,7,12,F,10
9,NaN,NaN,NaN,12,7,6,13,15,13,8,14,7,7,F,9
10,NaN,NaN,NaN,F,10,9,20,18,15,17,18,13,4,F,11
11,NaN,NaN,NaN,12,7,F,F,17,11,12,8,5,F,F,5
12,NaN,NaN,NaN,19,16,18,20,18,17,18,20,19,18,F,19
13,NaN,NaN,NaN,11,8,8,15,15,14,13,16,8,2,F,8
14,NaN,NaN,NaN,11,14,10,17,16,16,14,15,10,13,F,13
15,NaN,NaN,NaN,12,15,13,19,14,10,14,17,15,10,F,14
16,NaN,NaN,NaN,13,14,10,19,18,17,16,16,14,10,F,14
17,NaN,NaN,NaN,10,5,11,17,14,12,15,13,8,13,F,12
18,NaN,NaN,NaN,10,5,F,17,16,6,12,16,9,3,F,8
19,NaN,NaN,NaN,13,12,F,19,16,9,6,19,10,9,F,12
20,NaN,NaN,NaN,3,13,F,8,13,14,9,7,7,N,F,6
21,NaN,NaN,NaN,15,16,9,16,15,16,14,18,15,9,F,14
22,NaN,NaN,NaN,16,11,15,20,18,18,17,18,13,10,F,14
23,NaN,NaN,NaN,7,8,F,7,14,11,10,6,8,9,F,9
24,NaN,NaN,NaN,9,9,F,F,12,10,7,6,5,F,F,4
25,NaN,NaN,NaN,F,4,7,F,16,6,2,F,7,F,F,4
26,NaN,NaN,NaN,11,10,5,11,16,12,16,14,10,6,F,10
27,NaN,NaN,NaN,7,7,4,2,12,8,9,11,8,4,F,7
28,NaN,NaN,NaN,9,12,1,15,15,15,15,13,16,11,F,13
29,NaN,NaN,NaN,7,2,F,F,14,10,5,F,3,F,F,3
30,NaN,NaN,NaN,9,9,10,15,14,11,11,15,10,10,F,11
31,NaN,NaN,NaN,16,11,9,13,13,6,7,15,F,9,11,11
32,NaN,NaN,NaN,6,8,1,10,16,14,10,11,3,1,F,5
33,NaN,NaN,NaN,8,15,6,F,13,14,11,15,14,14,F,13
34,NaN,NaN,NaN,6,8,F,20,14,13,15,15,12,10,F,12
35,NaN,NaN,NaN,14,14,4,10,16,16,11,15,14,9,F,12
36,NaN,NaN,NaN,F,6,F,F,10,4,1,F,5,F,F,3
37,NaN,NaN,NaN,17,16,13,19,17,17,17,18,16,12,F,15
38,NaN,NaN,NaN,18,16,12,20,17,15,16,17,14,10,F,14
39,NaN,NaN,NaN,6,7,12,17,14,13,14,14,F,16,F,10
40,NaN,NaN,NaN,6,11,6,15,17,8,9,8,F,9,9,10
41,NaN,NaN,NaN,10,16,F,17,15,12,9,12,11,8,F,11
42,NaN,NaN,NaN,15,19,10,19,19,18,14,19,17,12,F,16
43,NaN,NaN,NaN,F,17,10,20,18,12,15,14,17,13,F,15
44,NaN,NaN,NaN,18,20,10,17,18,14,18,18,19,20,F,19
45,NaN,NaN,NaN,8,13,F,15,12,16,12,16,9,7,F,10
46,NaN,NaN,NaN,15,16,13,19,17,15,16,18,15,15,F,16
47,NaN,NaN,NaN,F,14,9,16,15,14,12,18,10,10,F,12
48,NaN,NaN,NaN,15,16,13,19,18,11,17,15,17,16,F,17
49,NaN,NaN,NaN,9,10,12,16,16,12,14,16,9,7,F,10
50,NaN,NaN,NaN,F,9,10,17,14,15,16,14,6,15,F,12
51,NaN,NaN,NaN,9,14,10,20,14,14,17,16,13,10,F,13
52,NaN,NaN,NaN,7,18,15,20,15,13,15,13,10,5,F,11
53,NaN,NaN,NaN,F,F,F,F,9,F,F,F,F,F,F,Retirado
54,NaN,NaN,NaN,15,18,12,18,16,12,11,12,15,10,F,14
55,NaN,NaN,NaN,9,8,F,2,10,9,8,8,10,8,F,8
56,NaN,NaN,NaN,12,15,11,16,15,12,15,18,13,7,F,12
57,NaN,NaN,NaN,12,9,8,20,17,12,6,7,9,9,F,11

In [16]:
# Limpieza de las columnas vacías

data_2022_1 = data_2022_1.drop(data_2022_1.columns[:3], axis = 1)

In [17]:
data_2022_1.shape

(51, 12)

In [21]:
# Renombrando las columnas

nombre_columnas = ['Practica C1', 'Practica C2', 'Practica C3', 'Practica C4', 'Practica D1', 'Practica D2', 'Practica D3', 'Practica D4', 'Examen 1', 'Examen 2', 'Examen 3', 'Promedio']
len(nombre_columnas)

12

In [24]:
data_2022_1.columns = nombre_columnas

In [25]:
data_2022_1.columns

Index(['Practica C1', 'Practica C2', 'Practica C3', 'Practica C4',
       'Practica D1', 'Practica D2', 'Practica D3', 'Practica D4', 'Examen 1',
       'Examen 2', 'Examen 3', 'Promedio'],
      dtype='object')

In [28]:
data_2022_1.reset_index(drop=True, inplace=True)

In [29]:
data_2022_1.head()

,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio
0,1,2,3,4,1,2,3,4,1,2,1,NaN
1,1,10,7,9,16,12,14,12,7,12,F,10
2,12,7,6,13,15,13,8,14,7,7,F,9
3,F,10,9,20,18,15,17,18,13,4,F,11
4,12,7,F,F,17,11,12,8,5,F,F,5

In [33]:
data_2022_1.drop(data_2022_1.index[:1], inplace=True)

In [34]:
data_2022_1.head()

,Practica C1,Practica C2,Practica C3,Practica C4,Practica D1,Practica D2,Practica D3,Practica D4,Examen 1,Examen 2,Examen 3,Promedio
1,1,10,7,9,16,12,14,12,7,12,F,10
2,12,7,6,13,15,13,8,14,7,7,F,9
3,F,10,9,20,18,15,17,18,13,4,F,11
4,12,7,F,F,17,11,12,8,5,F,F,5
5,19,16,18,20,18,17,18,20,19,18,F,19

In [41]:
# Agregando una columna al inicio del dataset (simulado)

# Se puede usar for pero consume mayor cantida de recursos; una mejor alternativa es list(range(a, b))
# id =[]
# for i in range(1,51):
#  id.append(i)

id = list(range(1, 51))